
.container {
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* column-gap: 10px; */
  /* row-gap: 10px; */
  gap: 10px;
  /* grid-auto-rows: minmax(150px, auto); */
  /* grid-template-rows: repeat(3, 1fr); */
  /* align-items: end; */
  /* justify-content: space-around; */
}

.item {
  background: steelblue;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: skyblue 1px solid;
}
